/* Estilo de la aplicación principal */
::-webkit-scrollbar{
    width: 8px;
    height: 8px;
}
  
::-webkit-scrollbar-thumb {
    cursor: pointer;
    background: rgba(0, 0, 10, 0.8);
}


/*Preloader*/
.dan_preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    background: none repeat scroll 0 0 #060718;
}
  
.dan_spinner {
    border: 1px solid transparent;
    border-radius: 3px;
    position: relative;
}

.dan_spinner:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 45px;
    height: 45px;
    margin-top: -10px;
    margin-left: -10px;
    border-radius: 50%;
    border: 6px solid #575757;
    border-top-color: #ffffff;
    animation: spinner .9s linear infinite;
}

@keyframes spinner {
    to {transform: rotate(360deg);}
}

/*Left Bar*/
#navIzquierda{
    background-color: rgb(0, 0, 0);
    border-radius: 7px;
    border: 1px solid #09090b;
    margin-bottom: 0.5em;
}
.bug_custom{
    rotate: 30deg;
    display: inline-block;
    color: #198754;
}
#logo {
    padding: 0.4em 0.4em 0.4em 0.4em;
    text-align: center;
    border-bottom: 1px solid #19875491;
}
#logo > a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1.25rem;
    font-family: var(--bs-font-sans-serif);
}
#logo:hover{
    -webkit-animation: glitch 4s 0.1s infinite;
            animation: glitch 4s 0.1s infinite;
    border-bottom: 1px solid rgb(143, 27, 27);
}
#logo:hover > a > div{
    transform: rotate(-45deg);
    transition: all 0.3s ease;
    color: rgb(143, 27, 27);
}
#logo:hover > a {
    text-shadow: 6px 2px 1px rgb(143, 27, 27);
    transition: all 0.3s ease;
}
#mainImag:hover{
    -webkit-animation: glitch 4s 0.1s infinite;
            animation: glitch 4s 0.1s infinite;
    cursor: pointer;
}
.glitch_nav{
    -webkit-animation: glitch 6s 0s;
            animation: glitch 6s 0s;
    border: 1px solid #bd1c1c9e!important;
}
/*Colapsar en pantalla pequeña*/
@media (min-width: 768px) {
    .collapse.dont-collapse-sm {
      display: block;
      height: auto !important;
      visibility: visible;
    }
}
#navbarResponsive{
    padding-top: 0.8em;
    font-size: 0.9em;
}
.sub-menu{
    cursor: pointer;
    color: #aeaeae;
    transition: all 0.5s ease;
}
.sub-menu > div:hover{
    font-weight: bold;
}
.sub-tog-down:after {
    content: "▾";
    float: right;
    transition: all 0.5s ease;
}
.sub-tog-up:after {
    content: " ▴";
    float: right;
    transition: all 0.5s ease;
}
.nav-item{
    padding: 0.3em 1em;
    background: #0d0d0d;
    margin: 2px 0px;
    border-radius: 5px;
}
.nav-item > ul {
    list-style-type: none;
    padding-left: 1.7rem;
}
.nav-subitem{
    padding: 0.2em 0em;
    transition: all 0.5s ease;
}
.nav-subitem:hover{
    font-weight: bold;
}
.nav-subitem > input{
    margin-right: 0.3em;
}
.nav-selectedsub{
    color: #36593b;
    text-decoration: line-through;
}
.SelectedItem{
    color: #097654!important;
    font-weight: bold;
}
.submenu-custom{
    padding: 0.4em 0em;
}
.nav-subsubitem{
    color: #7d7b7b;
    transition: all 0.5s ease;
    border-left: 1px solid #7d7b7b;
    margin-left: 0.5em;
}
.nav-subsubitem:hover{
    font-weight: bold;
}
.internal_link{
    cursor: pointer;
}
.nav-numero{
    margin-right: 0.6em;
    padding: 1px 5px;
    border: 1px solid #868686;
    border-radius: 1em;
}

/* Home Nav*/
#homeNav{
    background-color: rgb(0, 0, 0);
    font-size: 0.8em;
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    color: #8f8f8f;
    font-style: italic;
    padding: .3em 1em;
    border-radius: 5px;
    border: 1px solid #016c169e;
}
  
/*Main*/
#main {
    padding: 1.5rem 1rem 1rem 1rem;
    min-height: 95vh;
    box-shadow: 0 4px 2px -2px #404040;
    background-color: #111730;
    /*background-image: radial-gradient( ellipse farthest-corner at 10px 10px , #273368, #101035 50%, #09091a 50%);*/
    background-image: radial-gradient( ellipse farthest-corner at 10px 10px , #444757, #0d0d0d 50%, #1c1c1c 50%);
    background-size: 7px 7px;
}
#mainRight{
    min-height: 24rem;
}
#mainContent {
    background-color: rgb(11, 11, 11);
    padding: 1.5em 2em;
    margin-top: 10px;
    color: #d2d2d2;
    border: 1px solid black;
    border-left: 7px solid #016c16;
    border-radius: 7px;
    font: 125%/1.4 muli,sans-serif,muli,avenir,helvetica neue,helvetica,ubuntu,roboto,noto,segoe ui,arial,sans-serif;
    font-size: 1rem;
    line-height: 1.7;
}
#mainContent > h1 {
    font-size: 2.0rem;
    margin-bottom: 0.8em;
    /*border-bottom: 1px solid #262626;*/
    font-size: 2.5rem;
    font-weight: bold;
}
#mainContent > h2 {
    font-size: 1.3rem;
    color: #cacaca;
    font-weight: bold;
    margin-top: 2.5em;
    border-bottom: 1px solid #333;
    padding-bottom: 0.2em;
}
#mainContent > h3 {
    font-size: 1.2rem;
    font-weight: bold;
    font-style: italic;
    margin-top: 1.5em;
}
.mainComment {
    font-style: italic;
    color: #8f8f8f;
    font-size: 0.9em;
}
.mainImag {
    border-radius: 10em;
    border: 3px solid #3c3737;
}
.mainText {
    color: #8f8f8f;
    font-size: 1em;
}
.linksref{
    text-decoration: none;
    color: #00a621;
}
.linktool{
    display: block;
    margin-left: 2em;
    color: #8f8f8f;
}
.recordatorio{
    font-size: 0.9em;
    font-style: italic;
    padding: 0.7em 1em;
}
.snipet_custom{
    z-index: 100;
}
#introTextMain{
    border-bottom: 1px solid #3c3737;
}
.h_ejemplo{
    color: #198754 !important;
    font-size: 1.3rem;
    font-weight: bold;
    border-bottom: 2px solid #198754 !important;
    padding-bottom: 0.5em !important;
    border-top: 2px solid #198754;
    padding-top: 0.5em;
    text-align: center;
    margin-top: 4em !important;
    margin-bottom: 1.5em !important;
    font-style: italic;
    background-color: #1987540a;
}
.imag_ejemplos{
    border: 3px solid #131313;
    border-radius: 8px;
    -webkit-box-shadow: 7px 6px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 7px 6px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 7px 6px 5px 0px rgba(0,0,0,0.75);
    margin-left: auto;
    margin-right: auto;
}
.table_custom > thead > tr > th, .table_custom > tbody > tr > th, .table_custom > tbody > tr > td{
    padding-left: 1.5em;
}

/*CSS para boton de copy en códigos*/
.code_snipet {
    position: relative;
    overflow: auto;
  
    /* make space  */
    margin: 5px 0;
    border-radius: 10px;
    margin: 1em 0 2em 0;
    padding: 0.8em 1em;
  }
  
.snipet_custom button {
    position: absolute;
    top: 6px;
    right: 9px;
    font-size: 1rem;
    padding: 4px 9px 3px 9px;
    background-color: #343333;
    border: ridge 1px #2c2c2c;
    border-radius: 10px;
    color: #9b9b9b;
    transition: linear;
    transition-duration: 0.3s;
}
  
.snipet_custom button:hover {
    cursor: pointer;
    text-shadow: 1px 1px #7bff5b;
    color: #87f940;
}
.code_powershell {
    background-color: #110d37!important;
}


/*Footer*/
.footer{
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    background-color: rgb(4 4 4);
    color: #a0a0a0;
    font-size: 0.7em;
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}